
    <section class="home-section d-flex">
      <%- include('../partials/sidebar.ejs')%>

      <main class="w-100 dashboard-main">
        <!-- parking department nav bar -->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Parking Department</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item border-end border-secondary px-2">
                  <span
                    onclick="popup('parking-form-section', 'register')"
                    class="nav-link"
										role="button"
                    aria-current="page"
                    >Register a car</span
                  >
                </li>
                <li class="nav-item px-2">
                  <span
                    class="nav-link"
										role="button"
                    onclick="popup('signoff-form-section', 'signoff')"
                    >Sign off a car</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!--section to hold the parking tables-->

        <section
          class="parking-table-section px-5 py-3 d-flex flex-column align-items-center justify-content-between"
        >
          <div class="parked-cars-div w-100 d-flex flex-column">
            <h3>Parked Cars</h3>
            <div class="px-2">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">Driver Name</th>
                    <th scope="col">Car Type</th>
                    <th scope="col">Number Plate</th>
                    <th scope="col">Parking Option</th>
										<th scope="col">Parking Date</th>
										<th scope="col">Total Cost</th>
										<th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
									<% data.forEach( car => { %>
										<tr>
											<td> <%= car.drivername %> </td>
											<td> <%= car.cartype %> </td>
											<td> <%= car.numberplate %> </td>
											<td> <%= car.parkingoption %> </td>
											<td> <%= car.arrivaldate %> </td>
											<td> <%= car.totalcost %> </td>
											<td> <a href="/edit/<%= car.id %>">edit</a> | <a href="#">delete</a> </td>
										</tr>
									<% } ) %>
                </tbody>
              </table>
            </div>
          </div>

          <div class="signedoff-cars-div w-100 d-flex flex-column">
            <h3>Signed off Cars</h3>
            <div class="px-2">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <div class="revenue-div px-3">
          <h6>Day's Revenue</h6>
          <p>400,000 UGX</p>

          <small>* Revenue is generated when cars are signed off</small>
        </div>
      </main>

      <%- include("../partials/ParkingForm.ejs") %> <%-
      include("../partials/signoff.ejs") %>
    </section>
		<script src="/javascript/parkingPrice.js"></script>
    <script src="/javascript/parkingValidation.js"></script>
